# share through app
NEXT_PUBLIC_BACKEND_URL="http://localhost:8000"
NEXT_PUBLIC_USER_URL="http://localhost:3000/"
NEXT_PUBLIC_MAINTAINER_URL="http://localhost:3001/"

# as per the app
AUTH_URL="http://localhost:3001"



AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID="" # used for auth with github
AUTH_GITHUB_SECRET="" # used for auth with github 

